<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false" colors="true">
    <testsuites>
        <testsuite name="SQSJobQueue Test Suite">
            <directory>./Tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
            <exclude>
                <directory>./Test/cache/*/*</directory>
            </exclude>
        </whitelist>
        <blacklist>
            <exclude>

                <file>./src/*/*Interface.php</file>
            </exclude>
        </blacklist>
    </filter>

    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
        <log type="coverage-php" target="build/cov/coverage.cov"/>
    </logging>
</phpunit>